<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    body {
        background-color: #38003c;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    button[type="submit"] {
        font-family: 'Montserrat Alternates', sans-serif;
    }
    input {
        font-family: 'Montserrat Alternates', sans-serif;
    }
    .resetpassword-flash {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

</style>
<body class="resetpassword-page">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div class="login-container">
        <img src="{{ url_for('static', filename='premier_league_logo.png') }}" alt="Premier League Logo" class="logo">
        <h2>Reset Password</h2>
        <form method="POST">
            <!-- Input boxes for user details and reset button -->
            <input type="RecoveryCode" name="RecoveryCode" placeholder = "Recovery Code" required>
            <input type="Username" name = "Username" placeholder = "Username" required>
            <input type="Password" name="NewPassword" placeholder="New Password" required>
            <input type="Password" name="ConfirmPassword" placeholder="Confirm New Password" required>
            <button type="submit">Reset</button>
        </form>
        <div class="login-footer">
            <!-- Hyperlinks -->
            <p><a href="/register">Register here</a></p>
            <p><a href="/login">Login here</a></p>
            <p>FPL Helper by Daiyan</p>
        </div>
    </div>
</body>

